[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyldavis = "3.4.0"
pandas = "1.5.3"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
spacy = "*"
gensim = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
